.app {
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  height: 100vh;
  overflow: hidden;
  background-color: #131316;
}

.appContainer {
  display: flex;
  padding-bottom: 40px;
  box-sizing: border-box;
  gap: 40px;
  height: 100%;
}